.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: pink;
	width: 50%
}

body {
	background-image: url('OHLAWD.png');
	color: #ad1453;
}