.img {
	text-align: center;
	display: inline;
	margin-left: auto;
	margin-right: auto;
	background-color: pink;
	width: 24%;
	height: 5%
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #c4fffe;
	width: 40%
}

.h1 {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #c4fffe;
	width: 40%
}

body {
	background-image: url('selcom.png');
	background-size: cover;
	background-attachment: fixed
}