.k1 {
    position: absolute;
    left: 200px;
	top: 150px;
    transform: translate(-50%, -50%);
}
.k2 {
    position: absolute;
    left: 300px;
    transform: translate(-50%, -50%);
}

.k3 {
    position: absolute;
    left: 200px;
	top: -150px;
    transform: translate(-50%, -50%);
}

.eye {
	position: absolute;
	transform: translate(-50%, -50%);
}

.box{
	position: fixed;
	top: 50%;
	left: 50%;
}

.center{
	display:inline-block;
	margin: auto;
}

body {
	background-color: #494a70;
}