.img {
	text-align: center;
	display: inline;
	margin-left: auto;
	margin-right: auto;
	background-color: pink;
	width: 5%
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: pink;
	width: 50%
}

body {
	background-image: url('flame.gif');
}